<h1><%= @cocktail.name %></h1>
<% @cocktail.doses.each do |dose| %>
  <li><%= dose.description %></li>
  <li><%= dose.ingredient.name %></li>
  <li><%= link_to 'Dose destroy', dose_path(dose), class: "button", method: :delete  %></li>
<% end %>
 <h2>Add a new dose</h2>
 <div>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.button :submit %>
<% end %>
</div>
